aiohttp==3.6.2
app==0.0.1
appdirs==1.4.4
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
BareNecessities==0.2.8
bcrypt==3.2.0
beautifulsoup4==4.8.2
blinker==1.4
bs4==0.0.1
bz2file==0.98
casttube==0.2.1
certifi==2019.11.28
cffi==1.14.4
chardet==3.0.4
charset-normalizer==2.0.6
chicken==0.1.0
chromedriver==2.24.1
Click==7.0
colorama==0.4.3
cycler==0.10.0
ddg3==0.6.6
decorator==4.4.2
device==0.1
distlib==0.3.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
duckduckgo3==0.242
egg==0.2.0
emit==0.4.0
extension==1.0.0
filelock==3.0.12
Flask==1.1.2
Flask-Ext==0.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
Flask-PyMongo==2.3.0
Flask-SocketIO==4.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
future==0.18.2
geographiclib==1.50
geojson==2.5.0
geopy==1.21.0
grabber==0.1.0
greenlet==1.1.0
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.1.0
h5py==2.10.0
idna==2.8
ifaddr==0.1.7
imageio==2.8.0
imageio-ffmpeg==0.4.2
importlib==1.0.4
inflect==4.1.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
Js2Py==0.67
JumPYMan==0.2
keyboard==0.13.4
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.1.23
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
logger==1.4
lxml==4.5.0
Mail==2.1.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
more-itertools==8.2.0
moviepy==1.0.3
mpg123==0.4
mpyg321==0.0.2
multidict==4.7.5
mutagen==1.45.0
mysql-connector-python==8.0.25
mysqlclient==2.0.3
numpy==1.18.1
opencv-python==4.2.0.32
packaging==20.1
Panda3D==1.10.5
Pillow==7.0.0
pipwin==0.4.6
playsound==1.2.2
proglog==0.1.9
protobuf==3.15.7
py-grabber==0.1.3
PyAudio==0.2.11
PyChromecast==9.1.1
pycparser==2.20
pydub==0.23.1
pygame==1.9.6
pyglet==1.5.0
Pygments==2.6.1
pyjsparser==2.7.1
PyJWT==1.7.1
pylint==2.4.4
pymongo==3.10.1
pyowm==2.10.0
pyparsing==2.4.6
pypiwin32==223
PyPrind==2.11.2
python-dateutil==2.8.1
python-engineio==3.13.0
python-socketio==4.6.0
python3-weather-api==0.0.3rc0
pyttsx==1.1
pytz==2019.3
pywin32==228
requests==2.26.0
robobrowser==0.5.3
scipy==1.4.1
screed==1.0.4
selenium==3.141.0
six==1.15.0
soupsieve==1.9.5
speech==0.5.2
SpeechRecognition==3.8.1
spotify==0.8.4
spotipy==2.19.0
SQLAlchemy==1.4.18
sr==0.1.0
tqdm==4.47.0
twilio==6.55.0
tzlocal==2.0.0
urllib3==1.26.7
urlopen==1.0.0
virtualenv==20.0.23
weather-forecast==0.49
Werkzeug==1.0.0
wikipedia==1.4.0
wolframalpha==4.0.0
wrapt==1.11.2
WTForms==2.3.1
xmltodict==0.12.0
yarl==1.4.2
youtube-dl==2020.2.16
zeroconf==0.29.0
